* {
  user-select: none;
}

.logo{
 
    width: 316px;
    height: 66px;
    left: 33px;
    top: -2px;
    
    font-family: Sevillana;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 87px;
    
    color: #000000;
}
.slogan{
  
    width: 487px;
    height: 38px;
    left: 285px;
    top: 43px;
    
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    
    color: #000000;
}
.Titles{
    
    width: 316px;
    height: 66px;
    left: 121px;
    top: 348px;
    
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    
    color: #000000;
}
.aboutus{
    
    width: 1184px;
    height: 358px;
    left: 127px;
    top: 1133px;
    
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    
    color: #000000;
}
.Contacts{


    width: 368px;
    height: 40px;
    left: 608px;
    top: 1563px;
    
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    
    color: #000000;
    
}
.footer{
    display: inline-flex;
    background-color:#C99FF0;;
    overflow: hidden;
    width: 1440px;
    height: 95px;
    left: 0px;
    top: 1534px;
    
}
.socialpics{
    margin: 22px;
    margin-top: 20px;
    width: 54px;
    height: 50px;
    left: 1246px;
    top: 1558px;
    
    

}
.jumbotron{
    background-color: #C99FF0;
}